@import "tailwindcss";
/* Tailwind já importa os utilitários */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais */
html, body {
  transition: background-color 0.3s, color 0.3s; /* transição suave entre temas */
  font-family: 'Inter', sans-serif; /* sua fonte padrão */
}

@theme {
  /* Configuração das Fontes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Suas Cores Customizadas */
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  
  --color-primary: #4f46e5;
  --color-primary-dark: #4338ca;
  --color-accent: #6366f1;
}

/* Configuração de Dark Mode por Classe */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #ffffff;
  --color-foreground: #09090b;
}

.dark {
  --color-background: #000000;
  --color-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Calendar */
.react-calendar__month-view__weekdays {
  border-bottom: none !important; /* Remove underline */
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important; /* Remove as haspas */
}
