@import "tailwindcss";

@theme {
  /* Configuração das Fontes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Suas Cores Customizadas */
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  
  --color-primary: #4f46e5;
  --color-primary-dark: #4338ca;
  --color-accent: #6366f1;
}

/* Configuração de Dark Mode por Classe */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #ffffff;
  --color-foreground: #09090b;
}

.dark {
  --color-background: #000000;
  --color-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}