@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Variáveis de tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4F46E5;
  --accent: #6366F1;
  --card-bg: #f9fafb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #6366F1;
  --accent: #4F46E5;
  --card-bg: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
